# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.venv/
env/

# OS
.DS_Store
Thumbs.db

